*,
*::before,
*::after{
margin: 0;
padding: 0;
}

body{
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

header{
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20vw;
}
header h1{
    font-weight: 500;
}

main{
    width: 400px;
}

section{
    padding-left: 20vw;
}
main button{
    height: 40px;
    width: 40px;
    place-self: flex-end;
}
.cards{
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
    padding-top: 78px;
    padding-left: 20px;
    gap: 30px;
    
}
.s-cards{
    justify-content: space-around;
    display: flex;
}
.card{
    height: 150px;
    width: 100px;
    border: 1px solid black;
    display: none;
    
}
.visble{
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
}
.adding-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 80px;
    
}
label,input{
    height: 50%;
}
.teams-section{
    display: flex;
    flex-direction: column;
    
}
#list{
    height: 400px;
    width: 400px;
    background-color: beige;
}

.unlysted-list{
  
    list-style: none;
}
