*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #F7F9FA;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

header{
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20vw;
}
header h1{
    font-weight: 500;
}

main{
    width: 400px;
}

section{
    padding-left: 20vw;
}
main button{
    height: 40px;
    width: 40px;
    place-self: flex-end;
    border: 1px solid gray;
    border-left: none;
    background-color: #527CFB;
    color: white;
}
.cards{
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
    padding-top: 78px;
    padding-left: 20px;
    gap: 30px;
    
}
.s-cards{
    justify-content: space-around;
    display: flex;
}
.card{
    height: 150px;
    width: 100px;
    background-color: wheat;
    display: none;
    
}
.card h3 {
    background-color: white;
}

.visble{
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
}
.adding-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 80px;
    flex-grow: 2;
    
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
label{
    display: flex;
    align-items: end;
}
label,input{
    height: 50%;
}
input{
    border: 1px solid gray;
}
#nameInput{
    align-self: stretch;
    border-right: none;
}
.teams-section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}
#list{
    height: 400px;
    width: 400px;
    background-color: beige;
}

.unlysted-list{
  
    list-style: none;
}
button{
    
    cursor: pointer;
}
.btn > button{
    height: 40px;
    border: none;
    border-radius: 10px;

}
.btn{
    gap: 10px;
}
.btn > button:first-child {
    flex-grow: 3;
    background-color: #527CFB;
    color: white;
}
.btn > button:nth-child(2) {
    flex-grow: 1;
    background-color: #B93F46;
    color: white;
}
