*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #F7F9FA;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

header{
    height: 70px;
    display: flex;
    align-items: center;
    min-width: 80vw;
    justify-content: center;
}
header h1{
    font-weight: 500;
}

main{
    width: 400px;
}
.full{
    max-width: 80vw;
    margin-inline: auto;
}
.teams-section div > button{
    border-radius: 10px;
}
.teams-section div {
    justify-content: flex-end;
}

main button{
    height: 40px;
    width: 40px;
    place-self: flex-end;
    border: 1px solid gray;
    border-left: none;
    background-color: #527CFB;
    color: white;
}
.adding-section div > button{
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}
.cards{
flex-wrap: wrap;
}
aside{
    width: 50%;
}
section{
    width: 50%;
}
.card ul{
    min-height: 150px;
}
.card{
    height: 150px;
    width: 25%;
    margin: 1rem 1rem;
    
    
}
.card h3 {
    background-color: transparent;
}


.flex{
    display: flex;
}
.adding-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 80px;
    flex-grow: 2;
    
}
li{
    border-bottom: 1px solid gray;
}
label:last-of-type{
    justify-content: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
label{
    display: flex;
    align-items: end;
}

input{
    border: none;
}
#nameInput{
    align-self: stretch;
    border-right: none;
}
.teams-section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}
#list{
    min-height: 200px;
    margin-bottom: 2rem;
    width: 100%;
    background-color: white;
    box-shadow: inset 1px 1px  rgb(197, 191, 191);
}

.unlysted-list{
    background-color: white;
    list-style: none;
}
button{
    
    cursor: pointer;
}
.btn > button{
    height: 40px;
    border: none;
    border-radius: 10px;

}
#teamsNumber{
    width: 30%;
}
.btn{
    gap: 10px;
}
.btn > button:first-child {
    flex-grow: 3;
    background-color: #527CFB;
    color: white;
}
.btn > button:nth-child(2) {
    flex-grow: 1;
    background-color: #B93F46;
    color: white;
}
